<strong>Recuperação de senha</strong>

<p>Houve uma solicitação de recuperação de senha para o e-mail {{  email }}.</p>

<p>Para continuar, utilize o token {{ token }} </p> ou clique no link abaixo.</p>

<a href=" {{ link }} ">>Cadastrar nova senha</a>
